@import url("https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap");

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  color: #e0e0e0;
  font-size: 1.8rem;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.carousel-inner > .carousel-item > img {
  width: 400px;
  height: 400px;
  background-size: cover;
}

.introducion {
  text-align: center;
  margin: 15px;
}

.introducion > h1 {
  color: rgb(0, 255, 21);
  margin: 30px;
}

.introducion > p {
  color: rgb(255, 255, 255);
}

span {
  color: rgb(0, 255, 21);
}

.container,
.container2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #000000;
  color: rgb(0, 255, 21);
  margin: 80px auto 0;
}

.img-aside img,
.img-aside2 img {
  height: 380px;
  width: 350px;
  border-radius: 10px;
  margin: 10px;
}
.content > h2 {
  color: rgb(0, 255, 21);
  text-align: center;
  font-size: xx-large;
  margin-bottom: 20px;
}

.content > p {
  margin-left: 25px;
  color: #ffffff;
}

.linha {
  border: 1px solid rgba(221, 221, 221, 0.2);
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;
}

.navbar {
  background-color: #000000;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo img {
  width: 150px;
  height: 70px;
}

.navbar .nav-links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar .nav-links li a {
  color: rgb(0, 255, 21);
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

.navbar .nav-links li a:hover {
  background-color: rgb(0, 255, 21);
  border-radius: 4px;
  color: rgb(0, 0, 0);
}

.navbar .nav-links a.disabled {
  color: #ccc;
  cursor: not-allowed;
}

.menuContainer {
  display: flex;
  align-items: center;
}

.menuLogin {
  display: flex;
  flex-direction: column;
}

.menuMsg {
  font-size: 13px;
  color: rgb(0, 255, 21);
}

.menuLink {
  font-size: 10px;
  text-decoration: none;
  color: white;
}

.menuLink:hover {
  color: rgb(0, 255, 21);
}

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3636362d;
}

.loginContainer input {
  margin: 5px;
  padding: 5px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgb(0, 255, 21);
  color: white;
  font-size: 15px;
}

.iconUser {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.inputCadastrar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.cadastrar {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 300;
  font-size: 15px;
}

.cadastrar:hover {
  color: rgb(0, 255, 21);
}

.linhaReta {
  border: 1px solid rgba(255, 255, 255, 0.096);
  margin: 10px;
}

.testimonials {
  padding: 5rem;
}

.testimonials-name {
  color: rgb(0, 255, 21);
}

.testimonial-text {
  color: rgb(0, 255, 21);
}

.testimonials-card {
  width: 50%;
}

.copyright {
  font-size: 1.4rem;
  color: rgb(0, 255, 21);
}

.icon {
  width: 1.8rem;
  height: 1.8rem;
  padding: 1.2rem;
  background-color: rgb(0, 255, 21);
  border-radius: 50%;
  color: #fff;
  margin-bottom: 1.6rem;
}

header {
  background-color: rgb(0, 255, 21);
  color: #000000;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 400;
}

.formEstq {
  display: flex;
  flex-direction: column;
}

.formEstq label {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.formEstq input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: rgb(255, 255, 255);
}

.formEstq button {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 255, 21);
  margin-top: 10px;
  border: none;
  border-radius: 2px;
}

.formEstq button:hover {
  color: white;
}

section h2 {
  color: rgb(0, 255, 21);
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

.estqTable {
  width: 100%;
  border-collapse: collapse;
  color: white;
}

.estqTable th {
  background-color: rgba(255, 255, 255, 0.041);
  color: rgb(0, 255, 21);
}

.estqTable td,
th {
  border: 1px solid rgba(255, 255, 255, 0.486);
  padding: 10px;
}

.btn-edit,
.btn-excluir {
  color: #000000;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  margin-top: 10px;
  background-color: white;
  border-radius: 5px;
  align-items: center;
}

.estoque {
  width: 1250px;
  margin: 0 auto;
}

.footer-container {
  text-align: center;
  background-color: #000000;
  padding: 20px;
}

.footer-container > h3 {
  font-size: x-large;
  color: rgb(0, 255, 21);
  margin: 25px;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
  color: #ffffff;
  text-decoration: none;
}

footer p.copyright {
  margin-top: 20px;
  font-size: 14px;
  color: #ffffff;
}

/* Alterações para dispositivos móveis */
@media (max-width: 768px) {
  .carousel-inner > .carousel-item > img {
    width: 100%; /* Ajusta a imagem do carousel para ocupar 100% da largura */
    height: auto; /* Ajusta a altura automaticamente */
  }

  .container,
  .container2 {
    flex-direction: column;
    padding: 10px;
    margin-top: 20px; /* Diminui a margem superior para dispositivos móveis */
  }

  .container .content,
  .container2 .content2 {
    margin-right: 0;
    margin-bottom: 20px; /* Adiciona margem inferior para separar seções */
  }

  .img-aside,
  .img-aside2 {
    flex: 1 1 100%;
    text-align: center;
  }

  .testimonials {
    padding: 2rem; /* Diminui o padding das testemunhas para dispositivos móveis */
  }

  .testimonials-card {
    width: 100%; /* Faz com que o cartão de testemunhos ocupe toda a largura disponível */
  }

  .container2 {
    flex-direction: column;
    margin-top: 20px;
  }

  .img-aside2 {
    order: 2; /* Move o aside para o final */
    text-align: center;
    margin-bottom: 20px; /* Espaço entre o aside e a section */
  }

  .content2 {
    order: 1; /* Move a section para o início */
    margin-right: 0;
  }
}

.containerCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 28rem;
  margin: 30px;
  height: 540px;
  background-color: #000000;
  color: white;
  margin: 15px;
  border-color: #2bff00;
  border-radius: 16px;
}

.card-img-top {
  border-radius: 15px 15px 0 0;
  height: 350px;
}
.product-box {
  background-color: #292828;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  overflow: hidden;
}

.product-info {
  flex-grow: 1;
  padding: 5px;
}

.product-description {
  margin-bottom: 20px;
}

.product-price {
  font-size: 24px;
  color: #2bff00;
  margin-bottom: 20px;
}

.buy-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #2bff00;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.buy-button:last-child {
  margin-right: 0;
}

.buy-button:hover {
  background-color: #ffffffb4;
  color: #292828;
}

.btn-login {
  padding: 10px 20px;
  font-size: 15px;
  background-color: #2bff00;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 15px;
  align-items: center;
  text-decoration: none;
}

.btn-login:hover {
  color: #fff;
}

.loginBox {
  position: relative;
  width: 500px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  margin-top: 200px;
  height: 480px;
  background-color: rgba(0, 0, 0, 0.425);
  border-radius: 30px;
}

.loginBox > h1 {
  color: #2bff00;
  font-weight: 300;
}
<<<<<<< HEAD

.carrinho {
  max-width: 550px;
  margin: auto;
  padding: 20px;
  background-color: rgba(7, 7, 7, 0.575);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  color: #2bff00;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  background-color: white;
  color: black;

}

th {
  background-color: black;
  color: #2bff00;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tituloCarrinho{

  align-items: center;
}
=======
>>>>>>> 69ad478e86504dbb8bfac146f404327aa0039c84
